/*
fonts used
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Ruda', sans-serif;
*/

@media only screen and (min-width: 700px) {

/*universal header*/

#collectiveHeader {
    display: block;
    position: fixed;
    text-align: left;
    color: black;
    width: 50%;
    left: 33.5%;
    top: 0%;
    text-decoration: none;
    font-family: 'Bungee Shade', cursive; 
    font-size: 4vw;
    border: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 5;
    background-color: transparent;
    
    

}

#collectiveHeader a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
    border: 0px;
    
    
}


/*entry page*/

#entryHead {
    display: inline-block;
    position: fixed;
    top: 15%;
    width: 45%;
    left: 27.5%;
    clear: both; 
}


/*universal navigation bar*/

#navbar {
    display: block;
    font-family: 'Bungee Outline', cursive;
    font-size: 2vw;
    position: fixed;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 50%;
    left: 25%;
    top: 11%;
    text-align: center;
    z-index: 8;   
}

#navbar a {
    background-color: transparent;
    padding-right: 15px;
    margin: 0%;
    text-decoration: none;
    color: black;
}

#navbar a:hover {
    font-family: 'Bungee Inline', cursive;  
}

/*gallery page sort bar*/

#sortingBar{
    display: block;
    position: fixed;
    left: 20%;
    top: 20%;
    width: 10%;
    align-content: left;
    overflow: auto;  
}

.sortbtn {
    color: black;
    padding: 5px;
    font-size: 1.2vw;
    z-index: 10;
    background-color: white;
    font-family: 'Bungee Outline', cursive;
    border: none;  
}

.sortbar {
    position: relative;
    display: block;
}

.sortbar-content {
    display: none;
    position: relative;
    left: 0;
    background-color: white; 
}

.sortbar-content a {
    font-family: 'Ruda', sans-serif;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    word-wrap: normal;
    font-size: .9vw;
    z-index: 10;
}

.sortbar-content a:hover {
    color: darkgray;
}

.sortbar:hover .sortbar-content {
    display: block;
    overflow: hidden;
}

.sortbar:hover .sortbtn {
    text-align: left;
    font-family: 'Bungee Inline', cursive;   
}


/*project gallery page stuff*/

#gallery {
    position: fixed;
    display: block;
    float: left;
    width: 50%;
    left: 30%;
    top: 20%;
    overflow: auto;
    height: 60%; 
    
}


#galleryProjectPiece {
    position: fixed;
    display: block;
    float: left;
    top: 15%;
    right: 20%;
    text-decoration: none;
    color: black;
    font-family: 'Bungee Inline', cursive;
    z-index: 12;
    
}

#galleryProjectPiece a {
    padding: 10px;
    background-color: transparent;
    text-decoration: none;
    color: black;
}

#galleryProjectPiece a:hover {
    text-decoration: none;
    color: gray;
}



#galleryPieces {
    position: fixed;
    display: block;
    width: 50%;
    left: 30%;
    top: 20%;
    overflow: scroll;
    height: 60%;
    -webkit-column-count: 4;
   -webkit-column-gap:   0px;
   -moz-column-count:    4;
   -moz-column-gap:      0px;
   column-count:         4;
   column-gap:           1px;
    
    
}

.galleryItemPiece {
    display: block;
    float: left;
    cursor: pointer;
    width: 96%;
    padding: 1%;
    white-space: nowrap;
    
}

.galleryItemPiece a{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    box-decoration-break: 0px;
}



.galleryItem {
    position: relative;
    float: left;
    display: block;
    cursor: pointer;
    width:  27%;
    padding: 3%;
    min-width: 200px;   
}

.galleryItem img {
    width: 100%;
}


#galleryHeadLeft {
    position: fixed;
    top: 20%;
    right: 80.5%;
    height: 67%;
}

#galleryHeadRight {
    position: fixed;
    top: 20%;
    left: 80.5%;
    height: 67%;
}

#galleryHeadTop {
    display: none;
}

#galleryHeadBottom {
    display: none;
}
    
.projectCoverImage {
  display: block;
  width: 100%;
  height: auto;
}

.colorImage {
  position: absolute;
  display: block;
  top:0;
  left:0;
  opacity: 0;
  transition: .5s ease;
}

.colorImage img {
    width: 100%;
    min-width: 200px;
}

.galleryItem:hover .colorImage{
  opacity: 1;
}

.projectTitle {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0%;
  text-align: center;
   
}

.projectTitle a {
    font-size: 2vw;
    text-decoration: none;
    font-family: 'Bungee', cursive;
    color: black;
    text-decoration: none; 
    position: relative;
    top: 10%;
     
    background-color: transparent;
    
}




/* random extras


#contact  {
    display: block;
    position: fixed;
    color: white;
    align-content: center;
    top: 33%;
    right: 21%;
    width: 22%;
    font-size: 1vw;   
}

form {
    display: block;
}

form input {
    width: 100%;
}

form textarea {
    width: 100%;
    
}

#contactDescription  {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    display: block;
    position: fixed;
    align-content: center;
    padding: .5%;
    right: 21%;
    width: 21%;
    top: 20%;
    font-size: 1vw;  
}


#contactHead img {
    position: fixed;
    display: block;
    top: 20%;
    width: 80%;   
}

#contactSubmit {
    color: white;
    background-color: gray;
}


#currently{
    background-color: white;
    position: fixed;
    overflow-y: auto;
    left: 11%;
    top: 45%;
    width: 26%;
    padding: .5%; 
}

#currentlyHead img{
    position: fixed;
    display: block;
    width: 80%;
    top: 20%;
    left: 10%;
}


#artPageImage {
    display: block;
    position: fixed;
    left: 26%;
    width: 50%;
    overflow: auto;
}

#artPageImage img {
    width: 100%;
    overflow: auto;
}
*/






/*project page stuff*/

#projectGallery {
    position: fixed;
    display: block;
    width: 40%;
    left: 40%;
    top: 20%;
    overflow:auto;
    height: 60%;  
    
}

.projectGalleryImage {
    width: 97%;
    padding-bottom: 10px;    
}

#projectGallery iframe {
    display: block;
    position: fixed;
    width: 40vw;
    height: 23vw;
}

#projectDescription {
    display: block;
    position: fixed;
    left: 20%;
    top: 20%;
    width: 19%;
    height: 60%;
    align-content: left;
    overflow: auto;
}

#projectDescription h3 {
    padding-top: 0px;
    margin: 0px;
    font-family: 'Bungee', cursive;
}

#projectDescription p {
    padding-top: 0px;
    margin: 0px;
    font-family: 'Ruda', sans-serif;
    overflow: auto;     
}

#projectDescription p a{
    padding-top: 0px;
    margin: 0px;
    font-family: 'Ruda', sans-serif;
    color: black;
    overflow: auto;     
}

::-webkit-scrollbar {
    width: 8px;
    padding: 2px;
}
::-webkit-scrollbar-button { 
    background-color: lightgray;
    height: 3px;
}
::-webkit-scrollbar-track { 
    background-color: white;
}
::-webkit-scrollbar-track-piece { 
    
}
::-webkit-scrollbar-thumb { 
    background-color: whitesmoke;
}
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }





/*about page*/

#about {
    display: block;
    position: fixed;
    padding: 10px;
    width: 40%;
    top: 20%;
    left: 50%;
    font-family: 'Ruda', sans-serif;
    overflow: auto;
}

#about a {
    text-decoration: none;
    color: black;
    font-family: 'Bungee', cursive;
}

#about p {
    color: black;
    font-family: 'Ruda', sans-serif;
}

/*h4 {
    display: block;
    left: 10%;
    padding-top: 50px;
    padding-left: 13%;
    font-family: 'Ruda', sans-serif;
    color: gray;
}*/

#aboutHead{
    display: block;
    position: fixed;
    padding: 10px;
    width: 40%;
    top: 20%;
    left: 5%; 
}

/*footer*/

#footer {
    clear:both;
    display: block;
    position: fixed;
    float: none;
    bottom: 0%;
    width: 100%;
    font-family: 'Ruda', sans-serif;
    color: lightgrey;
    background-color: white;
    font-size: 8pt; 
}

#footer p {
    text-align: center;
}


}











/*phone screen responsive*/

@media only screen and (max-width: 700px) {
    
 
  
    
/*universal header*/

#collectiveHeader {
    display: block;
    position: fixed;
    text-align: left;
    color: black;
    width: 100%;
    left: 0%;
    text-decoration: none;
    font-family: 'Bungee Shade', cursive; 
    font-size: 11vw;
    border: 0px;
    margin: 0px;
    padding-left: 4%;
    padding-right: 3px;
    top: -4%;
    z-index: 5;
    background-color: transparent;
}

#collectiveHeader a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
    border: 0px;    
}

/*entry page*/

#entryHead {
    display: block;
    position: fixed;
    top: 20%;
    width: 80%;
    left: 10%;
    clear: both; 
}
    
/*universal navigation bar*/

#navbar {
    display: block;
    font-family: 'Bungee Outline', cursive;
    font-size: 8vw;
    position: fixed;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    left: 0%;
    top: 8%;
    text-align: center;
    z-index: 8;   
}

#navbar a {
    background-color: transparent;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0%;
    text-decoration: none;
    color: black;
}

#navbar a:hover {
    font-family: 'Bungee Inline', cursive;  
}    
 
    
/*project gallery page stuff*/

#gallery {
    position: fixed;
    display: block;
    float: left;
    width: 90%;
    left: 10%;
    top: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 40%;    
}


#galleryProjectPiece {
    position: fixed;
    display: block;
    float: left;
    top: 14%;
    right: 0%;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-family: 'Bungee Inline', cursive;
    z-index: 12;
}

#galleryProjectPiece a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    background-color: transparent;
    text-decoration: none;
    color: black;
}

#galleryProjectPiece a:hover {
    text-decoration: none;
    color: gray;
}

#galleryPieces {
    position: fixed;
    display: block;
    white-space: nowrap;
    width: 80%;
    left: 20%;
    top: 40%;
    overflow: scroll;
    height: 40%;
    overflow-x: hidden;
    -webkit-column-count: 4;
   -webkit-column-gap:   0px;
   -moz-column-count:    4;
   -moz-column-gap:      0px;
   column-count:         4;
   column-gap:           1px;
}

.galleryItemPiece {
    display: block;
    float: left;
    cursor: pointer;
    width: 100%;
    padding: 1%;
    white-space: nowrap; 
}

.galleryItemPiece a{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    box-decoration-break: 0px;
}

.galleryItem {
    position: relative;
    float: left;
    display: block;
    cursor: pointer;
    width:  46%;
    padding: 1%;
    min-width: 100px;   
}

.galleryItem img {
    width: 100%;
}


#galleryHeadLeft {
    display: none;
}

#galleryHeadRight {
    display: none;
}

#galleryHeadTop {
    display: block;
    position: fixed;
    width: 80%;
    top: 25%;
    left: 20%;
}

#galleryHeadBottom {
    display: block;
    position: fixed;
    width: 80%;
    left:20%;
    top: 82%;
}
  
    
.projectCoverImage {
  display: block;
  width: 100%;
  height: auto;
}

.colorImage {
  position: absolute;
  display: block;
  top:0;
  left:0;
  opacity: 0;
  transition: .5s ease;
}

.colorImage img {
    width: 100%;
    min-width: 100px;
}

.galleryItem:hover .colorImage{
  opacity: 1;
}

.projectTitle {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0%;
  text-align: center;
   
}

.projectTitle a {
    font-size: 3.5vw;
    text-decoration: none;
    font-family: 'Bungee', cursive;
    color: black;
    text-decoration: none; 
    position: relative;
    top: 30%; 
    background-color: transparent;
    
}
    
/*gallery page sort bar*/

#sortingBar{
    display: block;
    position: fixed;
    left: 1%;
    top: 23%;
    width: 30%;
    height: 70%;
    align-content: left;
    overflow-y: scroll;  
}

.sortbtn {
    color: black;
    padding: 5px;
    font-size: 4vw;
    z-index: 10;
    background-color: white;
    font-family: 'Bungee Outline', cursive;
    border: none;  
}

.sortbar {
    position: relative;
    display: block;
}

.sortbar-content {
    display: none;
    position: relative;
    left: 0;
    background-color: white; 
}

.sortbar-content a {
    font-family: 'Ruda', sans-serif;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    word-wrap: normal;
    font-size: 3.5vw;
    z-index: 10;
}

.sortbar-content a:hover {
    color: darkgray;
}

.sortbar:hover .sortbar-content {
    display: block;
    overflow: hidden;
}

.sortbar:hover .sortbtn {
    text-align: left;
    font-family: 'Bungee Inline', cursive;   
}
  
    
    
/*project page stuff*/

#projectGallery {
    position: fixed;
    display: block;
    padding: 1%;
    width: 80%;
    left: 10%;
    top: 45%;
    height: 50%; 
    overflow: scroll;
    line-height: 0;
   -webkit-column-count: 2;
   -webkit-column-gap:   0px;
   -moz-column-count:    2;
   -moz-column-gap:      0px;
   column-count:         2;
   column-gap:           1px;
}

.projectGalleryImage {
    width: 100%;
    height: auto;
    padding-bottom: 1%; 
    padding-left: 1%;
}

#projectGallery iframe {
    display: block;
    position: fixed;
    width: 80vw;
    height: 57vw;
}

#projectDescription {
    display: block;
    position: fixed;
    left: 12%;
    top: 20%;
    width: 80%;
    height: 25%;
    align-content: left;
    overflow: auto;
}

#projectDescription h3 {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Bungee', cursive;
}

#projectDescription p {
    padding-top: 0px;
    margin: 0px;
    font-family: 'Ruda', sans-serif;
    overflow: auto;     
}

::-webkit-scrollbar {
    width: 8px;
    padding: 2px;
}
::-webkit-scrollbar-button { 
    background-color: lightgray;
    height: 3px;
}
::-webkit-scrollbar-track { 
    background-color: white;
}
::-webkit-scrollbar-track-piece { 
    
}
::-webkit-scrollbar-thumb { 
    background-color: whitesmoke;
}
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }
   


/*footer*/

#footer {
    clear:both;
    display: block;
    position: fixed;
    float: none;
    bottom: 0%;
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Ruda', sans-serif;
    color: lightgrey;
    background-color: white;
    font-size: 3vw; 
}

#footer p {
    text-align: center;
}
    
}
    

    
}