/*
fonts used
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Ruda', sans-serif;
*/


/*universal header*/

#collectiveHeader {
    display: block;
    position: fixed;
    text-align: left;
    color: black;
    width: 50%;
    left: 33.5%;
    top: 0%;
    text-decoration: none;
    font-family: 'Bungee Shade', cursive; 
    font-size: 4vw;
    border: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 5;
    background-color: transparent;
    
    

}

#collectiveHeader a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
    border: 0px;
    
    
}


/*entry page*/

#entryHead {
    display: inline-block;
    position: fixed;
    top: 15%;
    width: 45%;
    left: 27.5%;
    clear: both; 
}


/*universal navigation bar*/

#navbar {
    display: block;
    font-family: 'Bungee Outline', cursive;
    font-size: 2vw;
    position: fixed;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 50%;
    left: 25%;
    top: 11%;
    text-align: center;
    z-index: 8;   
}

#navbar a {
    background-color: transparent;
    padding-right: 15px;
    margin: 0%;
    text-decoration: none;
    color: black;
}

#navbar a:hover {
    font-family: 'Bungee Inline', cursive;  
}

/*gallery page sort bar*/

#sortingBar{
    display: block;
    position: fixed;
    left: 20%;
    top: 20%;
    width: 10%;
    align-content: left;
    overflow: auto;  
}

.sortbtn {
    color: black;
    padding: 5px;
    font-size: 1.2vw;
    z-index: 10;
    background-color: white;
    font-family: 'Bungee Outline', cursive;
    border: none;  
}

.sortbar {
    position: relative;
    display: block;
}

.sortbar-content {
    display: none;
    position: relative;
    left: 0;
    background-color: white; 
}

.sortbar-content a {
    font-family: 'Ruda', sans-serif;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    word-wrap: normal;
    font-size: .9vw;
    z-index: 10;
}

.sortbar-content a:hover {
    color: darkgray;
}

.sortbar:hover .sortbar-content {
    display: block;
    overflow: hidden;
}

.sortbar:hover .sortbtn {
    text-align: left;
    font-family: 'Bungee Inline', cursive;   
}


/*project gallery page stuff*/

#gallery {
    position: fixed;
    display: block;
    float: left;
    width: 50%;
    left: 30%;
    top: 20%;
    overflow: auto;
    height: 60%; 
    
}


#galleryProjectPiece {
    position: fixed;
    display: block;
    float: left;
    top: 15%;
    right: 20%;
    text-decoration: none;
    color: black;
    font-family: 'Bungee Inline', cursive;
    z-index: 12;
    
}

#galleryProjectPiece a {
    padding: 10px;
    background-color: transparent;
    text-decoration: none;
    color: black;
}

#galleryProjectPiece a:hover {
    text-decoration: none;
    color: gray;
}



#galleryPieces {
    position: fixed;
    display: block;
    width: 50%;
    left: 30%;
    top: 20%;
    overflow: scroll;
    height: 60%;
    -webkit-column-count: 4;
   -webkit-column-gap:   0px;
   -moz-column-count:    4;
   -moz-column-gap:      0px;
   column-count:         4;
   column-gap:           1px;
    
    
}

.galleryItemPiece {
    display: block;
    float: left;
    cursor: pointer;
    width: 96%;
    padding: 1%;
    white-space: nowrap;
    
}

.galleryItemPiece a{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    box-decoration-break: 0px;
}



.galleryItem {
    position: relative;
    float: left;
    display: block;
    cursor: pointer;
    width:  27%;
    padding: 3%;
    min-width: 200px;   
}

.galleryItem img {
    width: 100%;
}


#galleryHeadLeft {
    position: fixed;
    top: 20%;
    right: 80.5%;
    height: 67%;
}

#galleryHeadRight {
    position: fixed;
    top: 20%;
    left: 80.5%;
    height: 67%;
}

#galleryHeadTop {
    display: none;
}

#galleryHeadBottom {
    display: none;
}
    
.projectCoverImage {
  display: block;
  width: 100%;
  height: auto;
}

.colorImage {
  position: absolute;
  display: block;
  top:0;
  left:0;
  opacity: 0;
  transition: .5s ease;
}

.colorImage img {
    width: 100%;
    min-width: 200px;
}

.galleryItem:hover .colorImage{
  opacity: 1;
}

.projectTitle {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0%;
  text-align: center;
   
}

.projectTitle a {
    font-size: 2vw;
    text-decoration: none;
    font-family: 'Bungee', cursive;
    color: black;
    text-decoration: none; 
    position: relative;
    top: 10%;
     
    background-color: transparent;
    
}



/*project page stuff*/

#projectGallery {
    position: fixed;
    display: block;
    width: 40%;
    left: 40%;
    top: 20%;
    overflow:auto;
    height: 60%;  
    
}

.projectGalleryImage {
    width: 97%;
    padding-bottom: 10px;    
}

#projectGallery iframe {
    display: block;
    position: fixed;
    width: 40vw;
    height: 23vw;
}

#projectDescription {
    display: block;
    position: fixed;
    left: 20%;
    top: 20%;
    width: 19%;
    height: 60%;
    align-content: left;
    overflow: auto;
}

#projectDescription h3 {
    padding-top: 0px;
    margin: 0px;
    font-family: 'Bungee', cursive;
}

#projectDescription p {
    padding-top: 0px;
    margin: 0px;
    font-family: 'Ruda', sans-serif;
    overflow: auto;     
}

#projectDescription p a{
    padding-top: 0px;
    margin: 0px;
    font-family: 'Ruda', sans-serif;
    color: black;
    overflow: auto;     
}

::-webkit-scrollbar {
    width: 8px;
    padding: 2px;
}
::-webkit-scrollbar-button { 
    background-color: lightgray;
    height: 3px;
}
::-webkit-scrollbar-track { 
    background-color: white;
}
::-webkit-scrollbar-track-piece { 
    
}
::-webkit-scrollbar-thumb { 
    background-color: whitesmoke;
}
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }





/*about page*/

#about {
    display: block;
    position: fixed;
    padding: 10px;
    width: 40%;
    top: 20%;
    left: 50%;
    font-family: 'Ruda', sans-serif;
    overflow: auto;
}

#about a {
    text-decoration: none;
    color: black;
    font-family: 'Bungee', cursive;
}

#about p {
    color: black;
    font-family: 'Ruda', sans-serif;
}


#aboutHead{
    display: block;
    position: fixed;
    padding: 10px;
    width: 40%;
    top: 20%;
    left: 5%; 
}

/*currently*/

.instagramHeader h2 {
    font-family: 'Bungee', cursive;
    display: block;
    position: fixed;
    left: 20%;
    top: 17%;
}

.instagramWidget  {
    display: block;
    position: fixed;
    left: 5%;
    top: 35%;
    width: 40%;
    height: 50%;
    overflow: auto;  
    
}

.blogHeader h2 {
    font-family: 'Bungee', cursive;
    display: block;
    position: fixed;
    left: 68%;
    top: 17%;
}

.blog {
    display: block;
    position: fixed;
    left: 55%;
    width: 40%;
    top: 35%;
    background-color: aqua;
    height: 50%;
    overflow: auto;
    
    
}



/*footer*/

#footer {
    clear:both;
    display: block;
    position: fixed;
    float: none;
    bottom: 0%;
    width: 100%;
    font-family: 'Ruda', sans-serif;
    color: lightgrey;
    background-color: white;
    font-size: 8pt; 
}

#footer p {
    text-align: center;
}










